form {
  border: 3px solid rebeccapurple;
  border-radius: 16px;
  width: 90%;
  max-width: 600px;
}

.form-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 16px;
  gap: 16px;
}

form .inputs {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: auto;
}

form input, form button{
  padding: 4px;
  margin: auto;
}

form #amount {
  width: 5rem;
}

form #productId {
  width: 8rem;
}

.error {
  display: block;
  color: red;
  font-style: italic;
}